version: "3"
services:
  database:
    image: postgres:16
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - ./database-init.sql:/docker-entrypoint-initdb.d/database-init.sql
      - ./data:/var/lib/postgresql/data
  hackaton:
    build: nodejs
    depends_on:
      - database
    # build: java
    # build: python
    # build: nodejs